
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/*  Global Variables*/
:root {
    --white-bg: #ffffff;
    --vibrant-teal: #3AB7A9;
    --electric-red: #ef233c;
    --soft-yellow: #FFDD57;
    --steel-gray: #444B6E;
    --pale-mint: #E6FAF5;

    /* Font and Basic Sizes */
    --font-primary: 'Quicksand', sans-serif;
    --base-font-size: 16px;
    --heading-font-weight: 600;
    --text-font-weight: 400;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

/*  Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    font-family: var(--font-primary);
    font-size: var(--base-font-size);
    background-color: var(--white-bg);
    color: var(--steel-gray);
    line-height: 1.6;
    min-height: 100vh;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--steel-gray);
    font-weight: var(--heading-font-weight);
}

a{
    color: var(--steel-gray);
    text-decoration: none;
}

/* Container and Layout Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Navbar Styles */
header {
    grid-area: header;
    background-color: var(--pale-mint);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    li{
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    a{
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        transition: background-color var(--transition-speed);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover {
        color: var(--pale-mint);
    }

    li:hover{
        background-color: var(--electric-red);
        transform: scale(1.2);
    }

    .nav-icon{
        display: none;
   }
}

.cta{ 
    background-color: var(--electric-red);
    color: var(--white-bg);
    padding: 0.2rem 0.35rem;
    border-radius: var(--border-radius);
    white-space: nowrap;
    font-size: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity 0.8s ease;
}

.cta:hover{
    scale: 0.95;
    opacity: 0.7;
}


.hero {
    width: 100%;
    height: 65vh;
    position: relative; 
    z-index: 1;
    animation: scaleUp 0.8s forwards;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }

    div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    color: white; 
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    
        h1{
             
            font-size: 3rem;
            color:var(--white-bg)
        }

        p {
            font-size: 1.2rem;
            text-wrap: wrap;
            width: 80%;
            padding: 5px;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);  }
    }

    box-shadow: 0 20px 20px -10px var(--pale-mint);
}


footer {
    grid-area: footer;
    height: 110px;
    background-color: var(--steel-gray);
    color: var(--white-bg);
    text-align: center;
    padding: 1rem;
    a{
        color: var(--vibrant-teal);
        transition: ease 0.3s;
    }
    a:hover{
        color: var(--pale-mint);
    }
}
.footer-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.arrow-navigator-container{
    width: 40%;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        padding: 20px;
        width: 5%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: var(--vibrant-teal);
        color: var(--white-bg);
        border: none;
        cursor: pointer;
        transition: background-color var(--transition-speed), transform var(--transition-speed);
        font-weight: bolder;
        transition: ease 0.3s;
    }
    a:hover{
        background-color: var(--pale-mint);
        color:var(--vibrant-teal);
        transform: translate(0, -5px);
    }
    a:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        margin-left: 5px; 
        background-color: var(--electric-red);
        color: var(--white-bg);
        padding: 0.1rem 0.2rem;
        border-radius: var(--border-radius);
        white-space: nowrap;
        font-size: 0.7rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.2) rotate(-25deg);
        opacity: 0.2;
    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}




/* phone and tablet size. Responsive */
@media (max-width: 991px) and (min-width: 768px) {
    :root {
        --base-font-size: 16px;
    }

    body {
        grid-template-columns: 45px 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header main"
            "header main"
            "header main"
            "header main"
            "header footer";
    }

    header {
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    nav{
        height: 100%;
        width:  100%;
    }

    .nav-list {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        align-items: center ;
        height: 100%;
        width: 100%;
        flex-direction: column;
        .nav-icon{
            display: block;
            
        }
      
        .nav-text{
            display: none;
        }
        a:hover{
            color: var(--electric-red);
        }
        li:hover {
            background-color: transparent;
            transform: scale(1.2)
            
        }
    }

    .hero div{
        width: 100%;
        
        
        h1{    
            font-size: 2.5rem;
            text-wrap: wrap;
            width: 80%;
        }
    
        p {
            font-size: 1rem;
            text-wrap: wrap;
            width: 80%;
        }
    }
   

    footer {
        grid-column: 2 / 3;
        grid-row: 2;
    }
}

/* Mobile Screens: Compact Sidebar Navigation */
@media (max-width: 767px) {
    :root {
        --base-font-size: 14px;
    }

    body {
        grid-template-columns: 65px 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header main"
            "header main"
            "header main"
            "header main"
            "header footer";
    }

    header {
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    nav{
        height: 100%;
        width:  100%;
    }

    .nav-list {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        align-items: center ;
        height: 100%;
        width: 100%;
        flex-direction: column;
        
        .nav-icon{
            display: block;
            
        }
      
        .nav-text{
            display: none;
        }

        a {
            position: relative;
        }

        a:hover{
            color: var(--electric-red);
        }

        a:hover::after {
            content: attr(data-tooltip);
            position: absolute;
            top: 100%;
            transform: translateY(-50%);
            margin-left: 5px; 
            background-color: var(--electric-red);
            color: var(--white-bg);
            padding: 0.1rem 0.2rem;
            border-radius: var(--border-radius);
            white-space: nowrap;
            font-size: 0.5rem;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            opacity: 1;
            transition: opacity 0.3s ease;
            
        }


        li:hover {
            background-color: transparent;
            transform: scale(1.2)
            
        } 
    
    }

    .hero div{
        width: 100%;
        
        h1{    
            font-size: 2rem;
            text-wrap: wrap;
            width: 80%;
            
        }
    
        p {
            font-size: 1rem;
            text-wrap: wrap;
            width: 80%;
        }
    }
    

    footer {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    
}
